<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<Logging property="LogsOnOff" Value="True" />
	<Logging property="DaysToKeepLogs" Value="1" />
	<Logging property="NewLogFrequency" Value="Always" />
	<Logging property="LogFolder" Value="" />
	<GUISettings property="Title" Value="Task Sequencer" />
	<GUISettings property="SilentRun" Value="False" />
	<GUISettings property="SecondsToDelayStart" Value="20" />
	<GUISettings property="ShowStartButton" Value="False" />
	<GUISettings property="ShowCancelButton" Value="True" />
	<GUISettings property="StopOnErrors" Value="true" />
</configuration>